*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 15px;
    background: rgba(200, 200, 200, 0.1);
    &-button {
        display: none;
    }
    &-thumb {
        border-radius: 6px;
        background: #f0f2f5;
        transition: all  3s;
        &:hover{
            background: #b8b8b8;
        }
    }
}